$theme: "buttercup";


@if (theme == "buttercup") {
    $color-normal :#f1c40f;
    $color-dark:#f39c12;
}

$color-normal :#f1c40f;
$color-dark:#f39c12;
$color-golden-grass:#dd9a2d;
$color-white:#fff;
$color-athens-gray:#e7e9ec;