extends _component/layout/main

block config
    -
        var title = "Welcome to Quick Blog"
        var description = "Using Quick Blog is easy and you can get 100/100 score on Google pagespeed insights"

block content
        .content
                #continue
                h2 Firstly, let's write some content
                p 
                | The source of Quick Blog can be found on GitHub at
                | #{" "} 
                a(href="http://www.github.com") Quick Blog
                blockquote.blockquote
                        .blockquote__body
                                p You don't have to be good to start, you have to start to become good.
                        .blockquote-footer
                                a(href="#", target="_blank") Marco Caramaschi
                p.lead Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                p
                        small Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                a.top(href="#top") 
                        span Top
                        span.top-arrow